In [9]:
from pandas import DataFrame
import pandas as pd

# Metadata Jagung

In [10]:
#readcsv
df = pd.read_csv('Sample_Jagung.csv', index_col=0)
df.head()

,ID_Study,ID_Sample,Sample Name,ID_Analyses,Latitude,Longitude,geographic location,environment (biome),depth (m),elevation (masl),pH
0,MGYS00003963,ERS1474434,qiita_sid_846:846.Fagna24102011Soil12A1,MGYA00353758,43.984,11.342,Italy:Tuscany:Fagna,cropland biome,0.05,224.0,NaN
1,MGYS00003963,ERS1474435,qiita_sid_846:846.Fagna24102011Soil12A2,MGYA00353759,43.984,11.342,Italy:Tuscany:Fagna,cropland biome,0.15,224.0,NaN
2,MGYS00003963,ERS1474436,qiita_sid_846:846.Fagna24102011Soil12A3,MGYA00353760,43.984,11.342,Italy:Tuscany:Fagna,cropland biome,0.25,224.0,NaN
3,MGYS00003963,ERS1474437,qiita_sid_846:846.Fagna24102011Soil12A4,MGYA00353761,43.984,11.342,Italy:Tuscany:Fagna,cropland biome,0.35,224.0,NaN
4,MGYS00003963,ERS1474438,qiita_sid_846:846.Fagna24102011Soil12B1,MGYA00353762,43.984,11.342,Italy:Tuscany:Fagna,cropland biome,0.05,224.0,NaN

In [11]:
#pick random sample, if sample < 3, pick all
df_out = pd.DataFrame()
for i in df.ID_Study.unique():
    #print(i)
    data = df[df.ID_Study == i]
    if len(data) < 3:
        data = data
    else:
        data = data.sample(n=3)
    df_out = df_out.append(data)
df_out

,ID_Study,ID_Sample,Sample Name,ID_Analyses,Latitude,Longitude,geographic location,environment (biome),depth (m),elevation (masl),pH
26,MGYS00003963,ERS1474460,qiita_sid_846:846.Fagna24102011Soil15A3,MGYA00353784,43.984000,11.342000,Italy:Tuscany:Fagna,cropland biome,0.250,224.0,NaN
8,MGYS00003963,ERS1474442,qiita_sid_846:846.Fagna24102011Soil12C1,MGYA00353766,43.984000,11.341000,Italy:Tuscany:Fagna,cropland biome,0.050,224.0,NaN
27,MGYS00003963,ERS1474461,qiita_sid_846:846.Fagna24102011Soil15A4,MGYA00353785,43.984000,11.342000,Italy:Tuscany:Fagna,cropland biome,0.350,224.0,NaN
50,MGYS00001939,ERS1851091,"Rhizosphere soil not exposed to nanosilver, sa...",MGYA00135101,50.934870,5.411394,Belgium,area of cropland,NaN,46.0,NaN
49,MGYS00001939,ERS1851092,"Rhizosphere soil not exposed to nanosilver, sa...",MGYA00135096,50.934870,5.411394,Belgium,area of cropland,NaN,46.0,NaN
48,MGYS00001939,ERS1851090,"Rhizosphere soil not exposed to nanosilver, sa...",MGYA00135095,50.934870,5.411394,Belgium,area of cropland,NaN,46.0,NaN
64,MGYS00000965,SRS647502,DM19,MGYA00046027,19.180000,-99.540000,"Dilatada, Nevado de Toluca, Estado de Mexico, ...",Agricultural soil,0.100,3700.0,5.82
62,MGYS00000965,SRS647500,DM17,MGYA00046025,19.180000,-99.540000,"Dilatada, Nevado de Toluca, Estado de Mexico, ...",Agricultural soil,0.100,3700.0,4.62
63,MGYS00000965,SRS647501,DM18,MGYA00046028,19.180000,-99.540000,"Dilatada, Nevado de Toluca, Estado de Mexico, ...",Agricultural soil,0.100,3700.0,5.68
66,MGYS00000962,SRS639749,cornrhizo_summit_peak12,MGYA00045965,41.916667,-93.750000,USA,cropland (ENVO:01000245),0.075,323.0,NaN
67,MGYS00000962,SRS639750,cornrhizo_toeslope_peak12,MGYA00045978,41.916667,-93.750000,USA,cropland (ENVO:01000245),0.075,312.0,NaN
68,MGYS00000837,SRS490313,Generic sample from soil_metagenome,MGYA00041620,51.560000,9.890000,Germany,cropland,0.100,NaN,NaN
69,MGYS00000837,SRS490314,Generic sample from soil_metagenome,MGYA00041619,51.560000,9.890000,Germany,cropland,0.100,NaN,NaN

In [12]:
#create metadata container
df_meta = DataFrame(columns=('#SampleID',
                             'BarcodeSequence',
                             'LinkerPrimerSequence', 
                             'StudyID',
                             'SampleID',
                             'SampleName',
                             'Latitude',
                             'Longitude',
                             'Geography',
                             'Biome', 
                             'Depth',
                             'Elevation',
                             'pH',
                             'Description'))
df_meta

Empty DataFrame
Columns: [#SampleID, BarcodeSequence, LinkerPrimerSequence, StudyID, SampleID, SampleName, Latitude, Longitude, Geography, Biome, Depth, Elevation, pH, Description]
Index: []

In [13]:
#fill in metadata
df = df_out
for i in df.index:
    df_meta.loc[i]  = [df.loc[i, 'ID_Analyses'],\
                  '_',\
                  '_',\
                  df.loc[i, 'ID_Study'],\
                  df.loc[i, 'ID_Sample'],\
                  df.loc[i, 'Sample Name'],\
                  df.loc[i, 'Latitude'],\
                  df.loc[i, 'Longitude'],\
                  df.loc[i, 'geographic location'],\
                  df.loc[i, 'environment (biome)'],\
                  df.loc[i, 'depth (m)'],\
                  df.loc[i, 'elevation (masl)'],\
                  df.loc[i, 'pH'],\
                  'Corn']
df_meta

,#SampleID,BarcodeSequence,LinkerPrimerSequence,StudyID,SampleID,SampleName,Latitude,Longitude,Geography,Biome,Depth,Elevation,pH,Description
26,MGYA00353784,_,_,MGYS00003963,ERS1474460,qiita_sid_846:846.Fagna24102011Soil15A3,43.984000,11.342000,Italy:Tuscany:Fagna,cropland biome,0.250,224.0,NaN,Corn
8,MGYA00353766,_,_,MGYS00003963,ERS1474442,qiita_sid_846:846.Fagna24102011Soil12C1,43.984000,11.341000,Italy:Tuscany:Fagna,cropland biome,0.050,224.0,NaN,Corn
27,MGYA00353785,_,_,MGYS00003963,ERS1474461,qiita_sid_846:846.Fagna24102011Soil15A4,43.984000,11.342000,Italy:Tuscany:Fagna,cropland biome,0.350,224.0,NaN,Corn
50,MGYA00135101,_,_,MGYS00001939,ERS1851091,"Rhizosphere soil not exposed to nanosilver, sa...",50.934870,5.411394,Belgium,area of cropland,NaN,46.0,NaN,Corn
49,MGYA00135096,_,_,MGYS00001939,ERS1851092,"Rhizosphere soil not exposed to nanosilver, sa...",50.934870,5.411394,Belgium,area of cropland,NaN,46.0,NaN,Corn
48,MGYA00135095,_,_,MGYS00001939,ERS1851090,"Rhizosphere soil not exposed to nanosilver, sa...",50.934870,5.411394,Belgium,area of cropland,NaN,46.0,NaN,Corn
64,MGYA00046027,_,_,MGYS00000965,SRS647502,DM19,19.180000,-99.540000,"Dilatada, Nevado de Toluca, Estado de Mexico, ...",Agricultural soil,0.100,3700.0,5.82,Corn
62,MGYA00046025,_,_,MGYS00000965,SRS647500,DM17,19.180000,-99.540000,"Dilatada, Nevado de Toluca, Estado de Mexico, ...",Agricultural soil,0.100,3700.0,4.62,Corn
63,MGYA00046028,_,_,MGYS00000965,SRS647501,DM18,19.180000,-99.540000,"Dilatada, Nevado de Toluca, Estado de Mexico, ...",Agricultural soil,0.100,3700.0,5.68,Corn
66,MGYA00045965,_,_,MGYS00000962,SRS639749,cornrhizo_summit_peak12,41.916667,-93.750000,USA,cropland (ENVO:01000245),0.075,323.0,NaN,Corn
67,MGYA00045978,_,_,MGYS00000962,SRS639750,cornrhizo_toeslope_peak12,41.916667,-93.750000,USA,cropland (ENVO:01000245),0.075,312.0,NaN,Corn
68,MGYA00041620,_,_,MGYS00000837,SRS490313,Generic sample from soil_metagenome,51.560000,9.890000,Germany,cropland,0.100,NaN,NaN,Corn
69,MGYA00041619,_,_,MGYS00000837,SRS490314,Generic sample from soil_metagenome,51.560000,9.890000,Germany,cropland,0.100,NaN,NaN,Corn

In [14]:
#export metadata
df_meta.to_csv('metadata_jagung.txt', sep="\t", index = False)

# Metadata Padi

In [15]:
#readcsv
df2 = pd.read_csv('Sample_Padi.csv', index_col=0)
df2.head()

,ID_Study,ID_Sample,Sample Name,ID_Analyses,Latitude,Longitude,geographic location,environment (biome),depth (m),elevation (masl),pH
Number,,,,,,,,,,,
1,MGYS00003673,ERS1300960,rhizosphere Nipponbare MS00331,MGYA00261972,35.117,138.937,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN
2,MGYS00003673,ERS1300961,rhizosphere Nipponbare MS00332,MGYA00261973,35.117,138.937,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN
3,MGYS00003673,ERS1300962,rhizosphere Nipponbare MS00333,MGYA00261974,35.117,138.937,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN
4,MGYS00003673,ERS1300963,rhizosphere Nipponbare MS00334,MGYA00261975,35.117,138.937,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN
5,MGYS00003673,ERS1300964,rhizosphere Nipponbare MS00335,MGYA00261976,35.117,138.937,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN

In [16]:
#pick random sample, if sample < 3, pick all
df2_out = pd.DataFrame()
for i in df2.ID_Study.unique():
    #print(i)
    data = df2[df2.ID_Study == i]
    if len(data) < 3:
        data = data
    else:
        data = data.sample(n=3)
    df2_out = df2_out.append(data)
df2_out

,ID_Study,ID_Sample,Sample Name,ID_Analyses,Latitude,Longitude,geographic location,environment (biome),depth (m),elevation (masl),pH
Number,,,,,,,,,,,
85,MGYS00003673,ERS1301044,rhizosphere kasalath MS00415,MGYA00262056,35.117000,138.93700,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN
134,MGYS00003673,ERS1301093,rhizosphere 93-11 MS00464,MGYA00262105,35.117000,138.93700,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN
46,MGYS00003673,ERS1301005,rhizosphere W1514 MS00376,MGYA00262017,35.117000,138.93700,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN
314,MGYS00001014,SRS691559,RhizosphereSoil4,MGYA00051779,23.130000,113.44000,China,Paddy soil,NaN,NaN,NaN
318,MGYS00001014,SRS691564,RhizosphereSoil8,MGYA00051763,23.130000,113.48000,China,Paddy soil,NaN,NaN,NaN
322,MGYS00001014,SRS691568,RhizosphereSoil12,MGYA00051747,23.130000,113.52000,China,Paddy soil,NaN,NaN,NaN
326,MGYS00000896,SRS811902,C-Organic,MGYA00044009,20.459293,85.93301,India: CRRI Experimental farm;Cuttack:Odisha-7...,NaN,NaN,NaN,NaN
330,MGYS00000765,SRS396882,MIMS Environmental/Metagenome sample from soil...,MGYA00039424,NaN,NaN,NaN,ENVO:00000446 (terrestrial),0.125,NaN,NaN
338,MGYS00000765,SRS396891,MIMS Environmental/Metagenome sample from soil...,MGYA00039429,NaN,NaN,NaN,ENVO:00000446 (terrestrial),0.125,NaN,NaN
333,MGYS00000765,SRS396886,MIMS Environmental/Metagenome sample from soil...,MGYA00039428,NaN,NaN,NaN,ENVO:00000446 (terrestrial),0.125,NaN,NaN
346,MGYS00000744,SRS416342,MIMARKS Survey related sample from Soil metage...,MGYA00038973,31.650000,119.46667,"Jintan, Jiangsu, China",ENVO:00000446,0.100,3.0,7.17
347,MGYS00000744,SRS415085,MIMARKS Survey related sample from Soil metage...,MGYA00038958,31.650000,119.46667,"Jintan, Jiangsu, China",ENVO:00000446,0.100,3.0,6.92
351,MGYS00000744,SRS416335,MIMARKS Survey related sample from Soil metage...,MGYA00038959,31.650000,119.46667,"Jintan, Jiangsu, China",ENVO:00000446,0.100,3.0,7.15

In [17]:
#create metadata container
df2_meta = DataFrame(columns=('#SampleID',
                             'BarcodeSequence',
                             'LinkerPrimerSequence', 
                             'StudyID',
                             'SampleID',
                             'SampleName',
                             'Latitude',
                             'Longitude',
                             'Geography',
                             'Biome', 
                             'Depth',
                             'Elevation',
                             'pH',
                             'Description'))
df2_meta

Empty DataFrame
Columns: [#SampleID, BarcodeSequence, LinkerPrimerSequence, StudyID, SampleID, SampleName, Latitude, Longitude, Geography, Biome, Depth, Elevation, pH, Description]
Index: []

In [18]:
#fill in metadata
df2 = df2_out
for i in df2.index:
    df2_meta.loc[i]  = [df2.loc[i, 'ID_Analyses'],\
                  '_',\
                  '_',\
                  df2.loc[i, 'ID_Study'],\
                  df2.loc[i, 'ID_Sample'],\
                  df2.loc[i, 'Sample Name'],\
                  df2.loc[i, 'Latitude'],\
                  df2.loc[i, 'Longitude'],\
                  df2.loc[i, 'geographic location'],\
                  df2.loc[i, 'environment (biome)'],\
                  df2.loc[i, 'depth (m)'],\
                  df2.loc[i, 'elevation (masl)'],\
                  df2.loc[i, 'pH'],\
                  'Rice']
df2_meta

,#SampleID,BarcodeSequence,LinkerPrimerSequence,StudyID,SampleID,SampleName,Latitude,Longitude,Geography,Biome,Depth,Elevation,pH,Description
85,MGYA00262056,_,_,MGYS00003673,ERS1301044,rhizosphere kasalath MS00415,35.117000,138.93700,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN,Rice
134,MGYA00262105,_,_,MGYS00003673,ERS1301093,rhizosphere 93-11 MS00464,35.117000,138.93700,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN,Rice
46,MGYA00262017,_,_,MGYS00003673,ERS1301005,rhizosphere W1514 MS00376,35.117000,138.93700,GAZ:Japan;Japan,cropland biome,NaN,60.0,NaN,Rice
314,MGYA00051779,_,_,MGYS00001014,SRS691559,RhizosphereSoil4,23.130000,113.44000,China,Paddy soil,NaN,NaN,NaN,Rice
318,MGYA00051763,_,_,MGYS00001014,SRS691564,RhizosphereSoil8,23.130000,113.48000,China,Paddy soil,NaN,NaN,NaN,Rice
322,MGYA00051747,_,_,MGYS00001014,SRS691568,RhizosphereSoil12,23.130000,113.52000,China,Paddy soil,NaN,NaN,NaN,Rice
326,MGYA00044009,_,_,MGYS00000896,SRS811902,C-Organic,20.459293,85.93301,India: CRRI Experimental farm;Cuttack:Odisha-7...,NaN,NaN,NaN,NaN,Rice
330,MGYA00039424,_,_,MGYS00000765,SRS396882,MIMS Environmental/Metagenome sample from soil...,NaN,NaN,NaN,ENVO:00000446 (terrestrial),0.125,NaN,NaN,Rice
338,MGYA00039429,_,_,MGYS00000765,SRS396891,MIMS Environmental/Metagenome sample from soil...,NaN,NaN,NaN,ENVO:00000446 (terrestrial),0.125,NaN,NaN,Rice
333,MGYA00039428,_,_,MGYS00000765,SRS396886,MIMS Environmental/Metagenome sample from soil...,NaN,NaN,NaN,ENVO:00000446 (terrestrial),0.125,NaN,NaN,Rice
346,MGYA00038973,_,_,MGYS00000744,SRS416342,MIMARKS Survey related sample from Soil metage...,31.650000,119.46667,"Jintan, Jiangsu, China",ENVO:00000446,0.100,3.0,7.17,Rice
347,MGYA00038958,_,_,MGYS00000744,SRS415085,MIMARKS Survey related sample from Soil metage...,31.650000,119.46667,"Jintan, Jiangsu, China",ENVO:00000446,0.100,3.0,6.92,Rice
351,MGYA00038959,_,_,MGYS00000744,SRS416335,MIMARKS Survey related sample from Soil metage...,31.650000,119.46667,"Jintan, Jiangsu, China",ENVO:00000446,0.100,3.0,7.15,Rice

In [19]:
#export metadata
df2_meta.to_csv('metadata_padi.txt', sep="\t", index = False)

# Merge Metadata

In [28]:
df_meta_all = df_meta.append(df2_meta)
df_meta.sort_values(by=['#SampleID'])

,#SampleID,BarcodeSequence,LinkerPrimerSequence,StudyID,SampleID,SampleName,Latitude,Longitude,Geography,Biome,Depth,Elevation,pH,Description
69,MGYA00041619,_,_,MGYS00000837,SRS490314,Generic sample from soil_metagenome,51.560000,9.890000,Germany,cropland,0.100,NaN,NaN,Corn
68,MGYA00041620,_,_,MGYS00000837,SRS490313,Generic sample from soil_metagenome,51.560000,9.890000,Germany,cropland,0.100,NaN,NaN,Corn
66,MGYA00045965,_,_,MGYS00000962,SRS639749,cornrhizo_summit_peak12,41.916667,-93.750000,USA,cropland (ENVO:01000245),0.075,323.0,NaN,Corn
67,MGYA00045978,_,_,MGYS00000962,SRS639750,cornrhizo_toeslope_peak12,41.916667,-93.750000,USA,cropland (ENVO:01000245),0.075,312.0,NaN,Corn
62,MGYA00046025,_,_,MGYS00000965,SRS647500,DM17,19.180000,-99.540000,"Dilatada, Nevado de Toluca, Estado de Mexico, ...",Agricultural soil,0.100,3700.0,4.62,Corn
64,MGYA00046027,_,_,MGYS00000965,SRS647502,DM19,19.180000,-99.540000,"Dilatada, Nevado de Toluca, Estado de Mexico, ...",Agricultural soil,0.100,3700.0,5.82,Corn
63,MGYA00046028,_,_,MGYS00000965,SRS647501,DM18,19.180000,-99.540000,"Dilatada, Nevado de Toluca, Estado de Mexico, ...",Agricultural soil,0.100,3700.0,5.68,Corn
48,MGYA00135095,_,_,MGYS00001939,ERS1851090,"Rhizosphere soil not exposed to nanosilver, sa...",50.934870,5.411394,Belgium,area of cropland,NaN,46.0,NaN,Corn
49,MGYA00135096,_,_,MGYS00001939,ERS1851092,"Rhizosphere soil not exposed to nanosilver, sa...",50.934870,5.411394,Belgium,area of cropland,NaN,46.0,NaN,Corn
50,MGYA00135101,_,_,MGYS00001939,ERS1851091,"Rhizosphere soil not exposed to nanosilver, sa...",50.934870,5.411394,Belgium,area of cropland,NaN,46.0,NaN,Corn
8,MGYA00353766,_,_,MGYS00003963,ERS1474442,qiita_sid_846:846.Fagna24102011Soil12C1,43.984000,11.341000,Italy:Tuscany:Fagna,cropland biome,0.050,224.0,NaN,Corn
26,MGYA00353784,_,_,MGYS00003963,ERS1474460,qiita_sid_846:846.Fagna24102011Soil15A3,43.984000,11.342000,Italy:Tuscany:Fagna,cropland biome,0.250,224.0,NaN,Corn
27,MGYA00353785,_,_,MGYS00003963,ERS1474461,qiita_sid_846:846.Fagna24102011Soil15A4,43.984000,11.342000,Italy:Tuscany:Fagna,cropland biome,0.350,224.0,NaN,Corn

In [24]:
#export metadata
df_meta_all.to_csv('metadata_all.txt', sep="\t", index = False)